segmentation_threshold: 0.75
blur: 20
erode: 10
dilate: 20
output_stride: 16
model: mobilenet
real_video_device: "/dev/video0"
virtual_video_device: "/dev/video2"
average_masks: 2
mjpeg: False
width: 640
height: 360
layers:
  - input: ["grayscale", ["gaussian_blur", 70]]
  - empty: [["image", {"image_path": "images/q-free/background3.jpg", "interpolation_method": "LINEAR"}]]
  - "foreground": []
